@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* CSS HEX 
--eggshell: #f4f1deff;
--burnt-sienna: #e07a5fff;
--delft-blue: #3d405bff;
--cambridge-blue: #81b29aff;
--sunset: #f2cc8fff;

 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	background-color: #f4f1deff;
	color: #3D405B;
	margin: 40px;
}

#app {
	margin-top: 100px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 3px solid #81B29A;
	border-radius: 15px;
	padding: 15px;
}

ul {
	font-size: 30px;
	list-style: none;
}

li {
	font-size: 20px;
}

.posts, .createEdit {
	background-color: #f4f1deff;
	border-radius: 15px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.post {
	background-color: #81B29A;
	padding: 15px;
	margin: 15px;
	border-radius: 10px;
	text-align: center;
}

.post p {
	text-decoration-thickness: 1px;
	text-decoration-line: underline;
	margin: 10px;
}

.post img {
	height: 200px;
}

button, input::file-selector-button{
	font-family: 'Roboto Mono', sans-serif;
	padding: 5px;
	margin: 5px 10px;
	border-radius: 5px;
	border: none;
	background-color: #3D405B;
	color: white;
	cursor: pointer;
	font-size: 15px;
}


.createEdit {
	margin: 50px;
	width: 65%;
	min-width: 280px;
	min-height: 200px !important;
	flex-direction: column;
	max-width: 1000px;
}

.createEdit form {
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	background-color: #81B29A;
	border-radius: 10px;
	width: 70%;
	min-width: 250px;
	max-width: 420px;
}

.createEdit input, select, option {
	font-family: 'Roboto Mono', sans-serif;
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
	border: none;
	font-size: 20px;
	text-align: center;
	width: 90%;
}



input:focus, select:focus, option:focus{
	outline: none;
	background-color: #F4F1DE;
}

#creationDate{
	font-size: 15px;
	text-decoration: none;
}

textarea {
	border: 0;
	border-radius: 5px;
	width: 90%;
	height: 150px;
	padding: 15px;
	max-width: 500px;
	max-height: 350px;
	font-size: 15px;
}

textarea:focus {
	outline: none;
	background-color: #F4F1DE;
}

input[type="file"] {
	margin: 0;
	font-size: 12px;
	width: 100%;
}

.header, .footer {
	position: fixed;
	top: 0;
	text-align: center;
	padding: 10px;
	width: 100%;
	color: #3D405B;
	background-color: #F4F1DE;
	font-size: 20px;
	border-top: 4px solid #81B29A;
	border-bottom: 4px solid #81B29A;
}

.footer {
	top: inherit;
	bottom: 0;
	font-size: 15px;
	padding: 0;
}

.footer span {
	font-size: 40px;
}

#btnAdminPage {
	position: absolute;
	left: 15px !important;
}