* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.blue-container {
	position: absolute;
	right: 0;
	background-color: #003049;
	color: white;
	width: 200px;
	height: 500px;
	margin: 20px;
	text-align: center;
	padding: 5px;
}

.red-container {
	position: absolute;
	right: 250px;
	background-color: #d62828;
	width: 200px;
	height: 500px;
	margin: 20px;
	color: white;
	text-align: center;
	padding: 5px;
}

.yellow-container {
	position: absolute;
	right: 500px;
	background-color: #fcbf49;
	width: 200px;
	height: 500px;
	margin: 20px;
	color: white;
	text-align: center;
	padding: 5px;
}

.postit {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 80px;
	left: 30px;
	text-align: end;
	padding: 5px 10px;
	color: white;
	font-size: 20px;
	border: 1px solid white;
	border-radius: 15px 0 15px 0;
	display: flex;
} 

.close {
	border: 1px solid white;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 5px;
	cursor: pointer;
}

.close:hover {
	background-color: white;
	color: #005785;
}

.activated{
	width: 300px;
	height: 300px;
}

.blue {
	background-color: #005785;
}
.red {
	background-color: #fe6f6f;
}
.yellow{
	background-color: #fad07b;
}

#new {
	position: absolute;
	top: 30px;
	left: 30px;
	padding: 10px;
	background-color: #054900;
	color: #d5ffd2;
	border: 0;
}