@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Mono', sans-serif;
	background-color: rgb(255, 214, 161);
	color: rgb(107, 23, 23);
	margin: 40px;
}

#app {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 3px solid rgb(107, 23, 23);
	border-radius: 15px;
	padding: 15px;
}

ul {
	font-size: 30px;
	list-style: none;
}

li {
	font-size: 20px;
}

.posts, .createEdit {
	background-color: rgb(251, 200, 134);
	border-radius: 15px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.post {
	background-color: rgb(255, 214, 161);
	padding: 15px;
	margin: 15px;
	border-radius: 10px;
	text-align: center;
}

.post p {
	text-decoration-thickness: 1px;
	text-decoration-line: underline;
	margin: 10px;
}

.post img {
	height: 200px;
}

button, input::file-selector-button{
	font-family: 'Roboto Mono', sans-serif;
	padding: 5px;
	margin: 5px 10px;
	border-radius: 5px;
	border: none;
	background-color: rgb(107, 23, 23);
	color: white;
	cursor: pointer;
	font-size: 15px;
}


.createEdit {
	margin: 50px;
	width: 65%;
	min-width: 500px;
	min-height: 200px !important;
	flex-direction: column;
	padding: 20px;
}

.createEdit form {
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	background-color: rgb(255, 214, 161);
	border-radius: 10px;
	width: 70%;
	max-width: 420px;
}

.createEdit input, select, option {
	font-family: 'Roboto Mono', sans-serif;
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
	border: none;
	font-size: 20px;
	text-align: center;
	width: 90%;
}



input:focus, select:focus, option:focus{
	outline: none;
	background-color: rgb(251, 232, 207);
}

#creationDate{
	font-size: 15px;
	text-decoration: none;
}

textarea {
	border: 0;
	border-radius: 5px;
	width: 90%;
	height: 150px;
	padding: 15px;
	max-width: 500px;
	max-height: 350px;
	font-size: 15px;
}

textarea:focus {
	outline: none;
	background-color: rgb(251, 232, 207);
}

input[type="file"] {
	margin: 0;
	font-size: 12px;
	width: 100%;
}

